.container{
    /* border-radius: 5px; */
    /* border: 1px solid salmon; */
    /* padding: 15px; */
}
.container img{
    
    border-radius: 15px;
    border: 1px solid salmon;
    width: 75%;
    /* padding: 15px; */
}